{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Register superadmin
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <ul class="object-tools">
    <li>
      <a href="{{ change_password_url }}">Change superadmin password</a>
    </li>
  </ul>

  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="submit-row">
      <input type="submit" value="Create superadmin" class="default">
    </div>
  </form>
</div>
{% endblock %}
