{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:login' %}">Admin Login</a>
&rsaquo; Register admin user
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <ul class="object-tools">
    <li>
      <a href="{{ login_url }}">Back to login</a>
    </li>
  </ul>

  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="submit-row">
      <input type="submit" value="Create admin user" class="default">
    </div>
  </form>
</div>
{% endblock %}
