{% extends "admin/index.html" %}

{% block content %}
  <div class="app-accounts module">
    <table>
      <caption>Admin Tools</caption>
      <tbody>
        <tr class="model-user">
          <th scope="row">
            <a href="{% url 'admin:accounts_register_superadmin' %}">Register Admin User</a>
          </th>
          <td>Create a new admin account with full access.</td>
        </tr>
        <tr class="model-user">
          <th scope="row">
            <a href="{% url 'admin:accounts_change_superadmin_password' %}">Change Admin Password</a>
          </th>
          <td>Reset the password for an existing admin account.</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ block.super }}
{% endblock %}
